/AulaSwichEx01/nbproject/private/
/AulaSwichEx01/build/
/AulaSwitchEx02/nbproject/private/
/AulaSwitchEx02/build/
/AulaSwitchEx03/nbproject/private/
/AulaSwitchEx03/build/
/AulaSwitchEx04/build/
/AulaSwitchEx04/nbproject/private/
/AulaSwitchEx00/nbproject/private/
/AulaSwitchEx00/build/
/vetores/nbproject/private/
/vetores/build/
/Vetores02/nbproject/private/
/Vetores02/build/
/Vetor03/nbproject/private/
/Vetor03/build/
/vetor04/nbproject/private/
/vetor04/build/
/Vetor05/nbproject/private/
/Vetor05/build/
/Matriz00/nbproject/private/
/Matriz00/build/
/Matriz01/nbproject/private/
/MatrizExercicios/nbproject/private/
/MatrizExercicios/build/
/Exercicios/nbproject/private/
/Exercicios/build/
/MatrizEx02/nbproject/private/
/MatrizEx03/nbproject/private/
/MatrizEx04/nbproject/private/
/ExmploMatriz/nbproject/private/